

img.gallery_photo_thumb {
    opacity:.85;
    max-width : 150px;
    max-height : 150px;
    position : relative;
  }


img.gallery_photo_thumb:hover {
    opacity:1;
    cursor:pointer;
  }


div.displayer_frame {
    height : 100%;
    display : none;
    left : 5%;
    position : fixed;
    text-align : center;
    top : 0%;
    vertical-align : middle;
    width : 90%;
    z-index : 51;
  }

img.displayer_frame_background {
    height : 90%;
    display : none;
    left : 5%;
    position : fixed;
    top : 5%;
    width : 90%;
    z-index : 50;
  }

div.buttons_container {
    height : 10%;
    left : 11%;
    position : absolute;
    text-align : center;
    bottom : 0%;
    width : 78%;
    z-index : 51;
  }

img.buttons_bar {
    height : 16%;
    position : absolute;
    bottom : -5%;
    left : 11%;
    width : 78%;
    z-index : 50;
  }

img.photo_object {
    height : 70%;
    width : auto;
    position : relative;
    top: 15%;
    left : auto;
  }


img.close_button {
    height : 10%;
    width : auto;
    position : absolute;
    top : 0px;
    right : 0px;
  }


img.previous_button {
    height : 100%;
/*    width : auto;
    position : absolute;
    bottom : 0px;
    left : 0px; */
  }



img.next_button {
    height : 100%;
  /*  width : auto;
    position : absolute;
    bottom : 0px;
    right : 0px;*/
  }


img.first_button {
    height : 90%;
/*    width : auto;
    position : absolute;
    bottom : 0px;
    left : 0px; */
  }



img.last_button {
    height : 90%;
  /*  width : auto;
    position : absolute;
    bottom : 0px;
    right : 0px;*/
  }

