
img.gallery_photo_thumb {
  opacity:.85;
  max-width : 150px;
  max-height : 150px;
  position : relative;
}


img.gallery_photo_thumb:hover {
  opacity:1;
  cursor:pointer;
}


#displayerFrame {
  top: 0%;
  height : 100%;
  width: 90%;
  left: 5%;
  display : none;
  position : fixed;
  z-index : 51;
  background: url('sfondo_photo_frame.png') no-repeat center center;
}

#buttons_container {
  height : 10%;
  left : 11%;
  position : absolute;
  text-align : center;
  bottom : 0%;
  width : 78%;
  z-index : 51;
}

#buttons_bar {
  height : 16%;
  position : absolute;
  top : 89%;
  left : 11%;
  width : 78%;
  z-index : 50;
}

#photoObject {
  height : 70%;
  position: relative;
  top: 15%;
  border: 0px;
  margin: 0px;
}

#close {
  height : 10%;
  width : auto;
  position : absolute;
  right : 10%;
}

img.previous_button, img.next_button {
  height : 100%;
}

img.first_button, img.last_button {
  height : 90%;
}

