

h1, h2 {
    color : #000048;
}

b, span.bold {
  color: #ff9900;
  font-weight: bold;
}

span.italic {
  font-style: italic;
}

body {
    color : black;
    font-family : Verdana, Arial, Helvetica;
    font-size : 1.0em;
    opacity : .85;
    text-align : center;
    background-color: #E8F9FF; /*#00f1dd;*/
    vertical-align: top;
    background-image : url('sfondoTitolo4.png');
    background-position : top center;
    background-repeat : repeat-x;
    z-index: 1;
}


div.mainBox {
    width : 100%;
    top : 0px;
    left : 0px;
}


img.logo {
    position : absolute;
    height : 200px;
    width : 200px;
    left: 0px;
    top: 0px;
  }


img.approved {
    float : right;
    width : 15%;
    height:auto;
    position : fixed;
    right : 0px;
    top : 250px;
    z-index:5;
  }


div.banner {
    height : 300px;
    width : 80%;
    top : 0px;
    right : 0px;
    padding:0px;
    min-width: 950px;
  }


img.banner {
    top : 30px;
    left : 200px;
    position: relative;
  }

img.sub_banner {
    top : 10px;
    right : -200px;
    height: 150px;
    width: auto;
    position: relative;
  }

div.blocco_centrale {
    text-align : center;
    min-width : 780px;
  }


div.container_corpo {
    width : 75%;
    float : right;
}

div.mid_container_corpo {
    opacity : 1;
    width : 70%;
    float : left;
    margin : 5px;
    background-color: #ffffff;
}

div.corpo {
    padding : 20px;
    font-size : 1.3em;
    font-family:cursive;
    text-align : center;
    border-color: #00378d;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
}

.topper-bottomer {
  border-color: #00378d;
  border-style: solid;
  vertical-align: baseline;
  height: 14px;
}

.topper-corpo {
  border-width: 1px 0px 0px 0px;
}

.bottomer-corpo {
  border-width: 0px 0px 1px 0px;
}

span.corner {
  display: block;
  height: 15px;
  width: 15px;
  position: relative;
}

span.corner-hl {
  top: -1px;
  float: left;
  background: transparent url(corner-hl.png) no-repeat scroll left top;
}

span.corner-hr {
  top: -1px;
  float: right;
  background: transparent url(corner-hr.png) no-repeat scroll right top;
}

span.corner-ll {
  bottom: 0px;
  float: left;
  background: transparent url(corner-ll.png) no-repeat scroll left bottom;
}

span.corner-lr {
  bottom: 0px;
  float: right;
  background: transparent url(corner-lr.png) no-repeat scroll right bottom;
}

img.dark_layer {
  opacity : 1;
  display : none;
  position : fixed;
  height : 100%;
  width : 100%;
  z-index : 50;
  left : 0px;
  top : 0px;
}


img.close_button:hover {
  cursor : pointer;
}


img.previous_button:hover {
  cursor : pointer;
}


img.next_button:hover {
  cursor : pointer;
}

img.last_button:hover {
  cursor : pointer;
}


img.first_button:hover {
  cursor : pointer;
}

